$main-color:#00BCB4;
$second-color: #3D3D3D;
$grayColor:#828282;
$borderColor:#D6D6D6;
$dangerColor:#C40000;
$Size35: 35px;
$Size30: 30px;
$Size25: 25px;
$Size22: 22px;
$Size20: 20px;
$Size18: 18px;
$Size17: 17px;
$Size16: 16px;
$Size15: 15px;
$Size14: 14px;
$Size13: 13px;
$Size12: 12px;
$Size10: 10px;
$circleBorderRadius: 50%;
$borderRadius: 10px;
$shadow: 0 0 5px rgba(121, 121, 121, .4);
$transition:all 0.3s ease-in-out;